
// #COLORS

$white: #FFF;
$black: #111;
$black--dark: #000;
$grey--light: #f1f1f1;
$grey: #ddd;
$grey--dark: #999;
$yellow: #CC9900;
$blue: #1B52DD;
$red: #E14B3C;
$green: #14AF6E;


// #FONTS

$body_font: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
$headings_font: $body_font;
$alternate_font: $body_font;

$thin_weight: 300;
$normal_weight: 400;
$bold_weight: 700;


// #LAYOUT

$base: 15;
$base_size: ($base) * 1px;
$massive_size: (88/$base) * 1rem;
$big_size: (46/$base) * 1rem;
$medium_size: (24/$base) * 1rem;
$slight_size: (20/$base) * 1rem;
$small_size: (14/$base) * 1rem;

$vertical_rythm: 1.666rem;
$max_width: 1666px;
$letter_spacing: 0.01em;
$border_radius: 3px;
$checkbox_size: 1.5em;

$number_of_columns: 12;
$gutter: $vertical_rythm;


// #ANIMATIONS

$fast: 0.333s;
$slow: 0.666s;
$very_slow: 0.999s;


// #BREAKPOINTS

$phone: "all and (max-device-width:600px), all and (max-width:600px)";
$tablet_portrait: "all and (max-device-width:900px), all and (max-width:900px)";
$tablet_landscape: "all and (max-device-width:1200px), all and (max-width:1200px)";
$big_desktop: "all and (min-device-width:1800px), all and (min-width:1800px)";
$breakpoints: "big_desktop" $big_desktop, "tablet_landscape" $tablet_landscape, "tablet_portrait" $tablet_portrait, "phone" $phone;

