
// #GRID

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  &.grid--center {
    justify-content: center;
  }

  &.grid--right {
    justify-content: flex-end;
  }

  &.grid--spaced {
    justify-content: space-between;
  }

  &.grid--spaced_around {
    justify-content: space-around;
  }

  &.grid--vertically_spaced {
    align-content: space-between;
  }

  &.grid--vertically_spaced_around {
    align-content: space-around;
  }

  &.grid--vertically_centered {
    align-content: center;
  }

  &.grid--stretch {
    align-items: stretch;
  }

  &.grid--middle {
    align-items: center;
  }

  &.grid--top {
    align-items: flex-start;
  }

  &.grid--bottom {
    align-items: flex-end;
  }

  &.grid--reverse {
    flex-direction: row-reverse;
  }

  &.grid--nowrap {
    flex-wrap: nowrap;
  }

  &.grid--full {
    width: 100%;
  }

  &.grid--grow {
    
    *:first-child {
      flex-grow: 1;
    }
  }

  &.grid--guttered {
    width: auto;
    margin-left: -$gutter;
    margin-bottom: -$gutter;

    &.medium_bottom {
      margin-bottom: 0;
    }

    &.big_bottom {
      margin-bottom: $gutter;
    }

    > .col {
      padding-left: $gutter;
      padding-bottom: $gutter;
    }
  }

  &.grid--tight_guttered {
    width: auto;
    margin-left: -$gutter/2;
    margin-bottom: -$gutter/2;

    &.medium_bottom {
      margin-bottom: 0;
    }

    &.big_bottom {
      margin-bottom: $gutter;
    }

    > .col {
      padding-left: $gutter/2;
      padding-bottom: $gutter/2;
    }
  }
}
  
  .col {

    &.col--middle {
      align-self: center;
    }

    &.col--bottom {
      align-self: flex-end;
    }

    @for $i from 1 through $number_of_columns { 
      &.col--#{$i}of#{$number_of_columns} { width: (100% / $number_of_columns * $i); }
    }

    @for $i from 1 through 3 { 
      &.col--#{$i}of#{3} { width: (100% / 3 * $i); }
    }

    @each $breakpoint in $breakpoints {
      &.col--#{nth($breakpoint, 1)}--first { @media #{nth($breakpoint, 2)} { order: -1; } }
      &.col--#{nth($breakpoint, 1)}--last { @media #{nth($breakpoint, 2)} { order: 99; } }

      @for $i from 1 through 3 { 
        &.col--#{nth($breakpoint, 1)}--#{$i}of#{3} { @media #{nth($breakpoint, 2)} { width: (100% / 3) * $i; } }
      }

      @for $i from 1 through $number_of_columns { 
        &.col--#{nth($breakpoint, 1)}--#{$i}of#{$number_of_columns} { @media #{nth($breakpoint, 2)} { width: (100% / $number_of_columns) * $i; } }
      }
    }
  }

