

// #HEROES

.hero {
  @extend .grid;
  @extend .grid--middle;
  @extend .grid--center;

  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

  .hero__content {
    @extend .padded;
    @extend .max_width;
    @extend .max_width--center;
  }

  .hero__topright {
    position: fixed;
    top: $vertical_rythm;
    right: $vertical_rythm;
  }