

// #MESSAGES

.messages_container {
  position: relative;

  &:before {
    content: "";
    pointer-events: none;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 20%;
    background-image: linear-gradient(180deg, $white 0%, fade-out($white, 1) 100%);
  }
}

.messages {
  list-style: none;
  display: block;
  padding: 0;
  padding-top: $vertical_rythm*2;
  max-height: 66vh;
  overflow: scroll;
}

  .message {
    display: block;
    margin: $vertical_rythm/8 0 $vertical_rythm/8 0;

    &.message--current {
      text-align: right;
    }
  }

    .message__content {
      display: inline-block;
      max-width: 88%;
      color: $black;
      text-align: left;
      padding: $vertical_rythm/6 $vertical_rythm/3;
      background-color: $grey--light;
      border-radius: 1em;

      .message--current & {
        color: $white;
        background-color: $green;
      }
    }