

// #TAGS
.pills,
.tags {

}

  .pill,
  .tag {
    display: inline-block;
    color: $black--dark;
    // font-weight: $bold_weight;

    padding: $vertical_rythm/6 $vertical_rythm/3;
    background-color: $grey;
    border-radius: $border_radius;

    margin: 0 $vertical_rythm/2 $vertical_rythm/2 0;

    label {
      margin-bottom: 0;
    }
  }

  .pill {
    border-radius: 1em;
    font-weight: normal;
    padding: $vertical_rythm/4 $vertical_rythm/2;
  }